# Kconfig - RISCV32_SCR1 SoC implementation
#
# Copyright (C) Syntacore 2017. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_SERIES_RISCV32_SCR1
	bool "Syntacore SCR1-based SoC implementation"
	depends on RISCV32
	select SOC_FAMILY_RISCV_PRIVILEGE
	help
	Enable support for Syntacore SCR1-based SoC
