CONFIG_RISCV32=y
CONFIG_SOC_SERIES_RISCV32_SCR1=y
CONFIG_SOC_RISCV32_SCR1=y
CONFIG_BOARD_DE10_LITE_SCR1=y
CONFIG_XIP=n
CONFIG_INCLUDE_RESET_VECTOR=y
CONFIG_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_SERIAL=y
CONFIG_UART_SCR=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_CONSOLE_ON_DEV_NAME="UART_0"
CONFIG_SCR1_MACHINE_TIMER=y
CONFIG_BOOT_BANNER=y
CONFIG_RISCV_RESET_VEC_ADDR=0xffffff00
CONFIG_MACHINE_TRAP_ADDR=0xffffff80
CONFIG_SCR_UART_BASE=0xff010000
CONFIG_RISCV_MTIME_BASE=0xf0040000
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=20000000
